{% extends 'base.html.twig' %}

{% block body %}

        <div class="row">
            <div class="col-md-6 img">
                <img
                        width="150px" height="150px"
                        src="{{ personne.path }}"  alt="" class="rounded-circle">
            </div>
            <div class="col-md-6 details">
                <blockquote>
                    <h5>{{ personne.firstname }}  {{ personne.name }}</h5>
                    <small><cite title="Source Title">{{ personne.age}}  <i class="icon-map-marker"></i></cite></small>
                </blockquote>
                <p>
                    fionagallager@shameless.com <br>
                    www.bootsnipp.com <br>
                    June 18, 1990
                </p>
            </div>
        </div>

{% endblock %}

{% block title %}
    Détail Personne
{% endblock %}

