{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-primary">
        <p>Je m'appelle {{ firstname }} {{ name }}</p>
        <p>J'ai {{ age }} ans </p>
        <p>J'étudie dans la section {{ section }} </p>
    </div>
{% endblock %}

